<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

<style>
    * {
        font-family: "Rubik", "sans-serif";
    }

    div {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        color: red;
        font-size: 40pt;
    }

    p {
        font-size: 24pt;
    }
</style>

<div>
    <h1>Welcome to EECS1720 Lab3 Pages</h1><br>
    <p>This site has been visited {{ count }} times.</p>
</div>


<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset-"UTF-8">
       <meta http-equiv="X-UA-Compatible" content-"lE-edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>js_bbs</title>
      <link rel="stylesheet" href="index.css">
</head>
<body>
＜p> Message Board：</p>
<textarea name="bbs" id="bbs" cols="30" rows="10'> ＜/textarea>
＜button> post ＜/button>
＜p> Comments area：＜/p>
＜ul>＜/ul>
＜script src-"index.js"></script>
</body>
</html>